:root{
    --sprite-position: 0px;
}

@keyframes play {
    from { background-position-x: 0px; }
    to { background-position-x: 56px; } /* Adjust based on your spritesheet width */
}

.sprite {
    width: 14px; /* Adjust based on your sprite frame width */
    height: 16px; /* Adjust based on your sprite frame height */
    background: url('../../images/ChesterCarrots.png') left top;
    animation: play 1s steps(4) infinite; /* Adjust steps based on number of frames */
    background-position-y: var(--sprite-position);
}
